.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    &__input-container{
        width: 740px;
        display: flex;
        input.search-term {
            width: 100%;
            padding: 10px 20px;
            height: 20px;
            border-radius: 20px;
            outline: none;
            color: #000000;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
            border: 1px solid #d3d3d3;
            font-size: 16px;
        }
    }
}
