@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #f2f2f2;
    font-family: "Open Sans", sans-serif;
}

.search-container{
    background-color: rgb(33 70 90);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}