.checkbox-container{
    display: flex;
}

.checkbox-container > span{
    margin-left: 5px;
    text-transform: capitalize;
}
.show-checkbox{
    display: block;
}

.hide-checkbox{
    display: none;
}

input{
    width: 15px;
    height: 15px;
}