.checkbox-container {
    display: flex;
    cursor: pointer;
    & > span {
        margin-left: 5px;
        text-transform: capitalize;
    }
    &:hover{
        color: #840884;
    }
    .show-checkbox {
        display: block;
    }

    .hide-checkbox {
        display: none;
    }

    input {
        width: 15px;
        height: 15px;
    }
}
